body{
  font-family: 'ubuntu', sans-serif;
  font-size: 16px;
}

h1{
  font-family: 'Overpass', sans-serif;
}

header{
  /*background-image: url('./images/bg-pattern-intro-desktop.svg');*/
  color: white;
  display: grid;
  place-items: center;
  background: linear-gradient(167deg, hsl(13, 100%, 72%), hsl(356, 100%, 66%));
  border-bottom-left-radius: 40px;
  padding: 6rem;
  position: relative;
}

.logoT{
  margin-right: 30px;
  width: 20vh;
}

nav{
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
  flex-direction: row;
}

.menuProduct{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.menuCompany{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menuConnect{
  display: flex;
  flex-direction: column;
  list-style: none;
}

/*header svg{
  display: none;
  position: absolute;
}*/

#textHeader{
  display: grid;
  place-items: center;
  gap: 15px;
}

#textHeader ul{
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

.titleButton{
  margin-bottom: 0;
  padding: 0;
}

.button a{
  text-decoration: none;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 2rem;
  border: .8px solid white;
  padding: .7rem 1rem;
}

.button a:hover{
  background-color:white;
  color: hsl(356, 100%, 66%);
}