header{
  background-image: linear-gradient(orange, red);
  display: flex;
  color: #ffffff; 
}

nav{
  display: flex;
  flex-direction: row;
}

.menuProduct{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.menuCompany{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menuConnect{
  display: flex;
  flex-direction: column;
  list-style: none;
}

#textHeader{
  text-align: bottom;
}