header{
  background-image: linear-gradient(orange, red);
  /*background-image: url(./images/bg-pattern-intro-desktop.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size:100%;*/
  display: flex;
  flex-direction: column;
  color: #ffffff;
 
}

.logo{
  margin-right: 5%;
}

nav{
  display: flex;
  flex-direction: row;
}

.menuPrincipal{
  display: flex;
  flex-direction: row;
  list-style: none;
}

/*.menuPrincipal:last-child{*/
.menuProduct{
  display: flex;
  flex-direction: column;
  list-style: none;
}
.menuCompany{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.menuConnect{
  display: flex;
  flex-direction: column;
  list-style: none;
}

#textHeader{
  display: inline-block;
  text-align: bottom;
}