.mainMiddle{
  display:flex;
}

.boxPhone{
height: 10rem;
position: relative;
width: 100%;
}

#cellphone{
  position: absolute;
  top: 0;
  left: 0;
  height:26.5rem;
  width: 375px;
  
}

#circles{
  background: linear-gradient( hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  position: absolute;
  width:inset(10%); 
  overflow: hidden;
  z-index: -2;

}
.boxGray{
  background: linear-gradient( hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  border-bottom-left-radius: 100px;
  border-top-right-radius: 80px;
  color: #FFFFFF;
  display: grid;
  height: 280px;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 1338px;
}

.boxGray h3{
  color: #FFFFFF;
}

.boxGray p{
  font-size: 16px;
}

.boxGray #cellPhone{
gap: 15px; 
}

.boxGray .gridInfra{
  align-items: center;
  display: grid;
  margin-inline:auto;
}