
h2{
  color: hsl(208, 49%, 24%);
  display: inline;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  /*padding-top: 40px;*/
}

h3{
  color: hsl(208, 49%, 24%);
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

main{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /*width: 100%;*/
}

.mainTop{
  /*background-image: url(./images/illustration-editor-desktop.svg);
  background-size: cover;
  background-position: right;*/
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.imgMainTop{
  margin-right: 0;
  width: 370px;
}

.mainTop p{
  color: hsl(237, 17%, 21%, 0.5);
  font-size: 16px;
}
.mainTop div{
  display: flex;
  flex-direction: column;
}


/*.rightImg{
  background-image: url(./images/illustration-editor-desktop.svg);
  background-position-x: right;
  background-position-y: top;
  background-position: top right;
  background-repeat: no-repeat;
  background-size:contain;
  float: right;
  margin-right: 0;
  padding: 0 0 0 0;
  width: 60%;
}*/

